import random

# criação das peças
peças = {
    'azul': ['B1', 'B2', 'B3', 'B4'],
    'verde': ['G1', 'G2', 'G3', 'G4'],
    'vermelho': ['R1', 'R2', 'R3', 'R4'],
    'amarelo': ['Y1', 'Y2', 'Y3', 'Y4']
}

# criação do tabuleiro
tabuleiro = [
    ['B', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'R'],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
    ['', '', '', '', '', '', '', '', '', '',
